.cabecera{
    display: grid;
    background-color: black;
    color: white;
}
#p_cabe{
    background-color: white;
    color: black;
    padding: 0px;
    margin: 0px;
    text-align: right;
}
body>div{
    display: grid;
}
img{
    width: 150px;
}
.opcion{
    display: grid;
    list-style-type: none;
    padding: 0px;
    grid-template-columns: repeat(6,min-content);
    gap: 2%;
    margin: 10px;
}
.navegacion{
    background-color: black;
    color: white;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer p{
    margin: 0px
}
.medio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.medio_izquierda{
    display: grid;
}
.medio_izquierda h4{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 6px;
    height: 30px;
}
.medio_izquierda ul{
    margin-top: 5px;
    padding: 0px;
    list-style-type: none;
}
#gris{
    background-color: grey;
}
#gris_ultimo{
    background-color: grey;
    padding-bottom: 80px;
}
.medio_centro{
    display: grid;
    align-items: center;
    justify-items: center;
    
}
.medio_centro>div{
    display: grid;
    place-items: center;
    background-color: grey;
    grid-auto-columns: min-content;
    padding: 2%;
}

.medio_derecha{
    display: grid;
    grid-auto-rows: min-content;
}
.medio_derecha h4{
    margin-bottom: 0px;
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
}