body{
    width: 100%;
    height: 100%;
}
.cabecera{
    display: block;
    padding: 20px;
    background-color: black;
    color: white;
}

.cabe_dere{
    text-align: right;
}
.subcab{
    display: flex;
    background-color: olivedrab;
    color: white;
}

.medio{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.medio_izquierda img{
    width: 130px;
    height: 130px;
}
.medio_izquierda{
    width: 150px;
    height: 200px;
    background-color: lightgrey;
    padding-left: 20px;
    margin-left: 30px;
}

.medio_derecha{
    width: 150px;
    height: 200px;
    background-color: lightgrey;
    padding-left: 20px;
    margin-right: 40px;
}

.medio_derecha img{
    width: 130px;
    height: 130px;
}

.medio_medio{
    margin-top: 25px;
}

.medio_abajo{
    box-shadow: 0px 3px 1px darkolivegreen;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 800px;
    height: 130px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    position: relative;
    color: green;
}

.medio_abajo ul{
    align-self: baseline;
}

.medio_abajo img{
    width: 90px;
    height: 90px;
    right: 4px;
    align-self: flex-end;
    position: absolute;
    bottom: 5px;
}

.medio_abajo span{
    color: black;
}

#categorias{
    width: 800px;
    background-color: lightgrey;
    box-shadow: 0px 3px 1px darkolivegreen;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 56, 56);
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.footer img{
    width: 130px;
    height: 50px;
}