body{
    width: 100%;
    height: 100%;
}

.cabecera{
    background-color: black;
    color: white;
    text-align: center;
}
#p_cabe{
    background-color: white;
    color: black;
    text-align: right;
    margin: 0px;
    padding: none;
}
.navegacion{
    display: flex;
    background-color: black;
    color: white;
    
}
.opcion{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
}

#opciones{
    margin-right: 50px;
    list-style-type: none;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}

.medio{
    display: flex;
}

.medio_izquierda h4{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    width: 350px;
}

.medio_izquierda ul{
    margin-top: 5px;
    padding: 0px;
    list-style-type: none;
    width: 350px;
    
}
#gris{
    background-color: grey;
}
#gris_ultimo{
    background-color: grey;
    padding-bottom: 80px;
}

.medio_centro img{
    width: 150px;
    height: 110px;
}
.medio_centro p{
    margin-top: 5px;
    margin-bottom: 0px;
}
.medio_centro{
    margin-top: 20px;
    margin-left: 250px;
    height: 140px;
    padding: 5px;
    background-color: grey;
}

.medio_derecha h4{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    width: 350px;
}
.medio_derecha{
    margin-left: 425px;
}