.red{
    color: red;
}
.margen{
    margin-left: 20px;
}
.align{
    vertical-align: top;
}
.font{
    font-size: 10px;
    text-align: center;
    vertical-align: top;
}
input[type='number']{
    width: 35px;
}
input[name='special']{
    width: 90px;
}
#tabla1{
    border-collapse: collapse;
}
#tr{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: lightgrey;
}

#borde{
    border: 1px solid black;
}