<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/layout6.css">
    <title>Layout6</title>
</head>
<body>
    <div class="arriba">
        <div id="titulo">
            <h2>Product name</h2>
        </div>
        <div class="medio">
            <img src="./imagenes/movil.png" alt="movil">
            <div class="conjunto">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam temporibus sed repellendus minus voluptatibus, ab beatae rem vero minima tenetur, quisquam aliquam quibusdam possimus ut quo voluptatem? Cumque, expedita labore.</p>
                <input type="button" value="Read more">
            </div>
        </div>
    </div>
        <div class="abajo">
            <div class="imagenes">
                <h1>300 x 180</h1>
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt labore ex aut molestiae, voluptates atque fuga sunt sequi, nihil eaque deserunt esse mollitia incidunt eos odit? Nobis maxime dicta amet.</p>
            </div>
            <div class="imagenes">
                <h1>300 x 180</h1>
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt labore ex aut molestiae, voluptates atque fuga sunt sequi, nihil eaque deserunt esse mollitia incidunt eos odit? Nobis maxime dicta amet.</p>
            </div>
            <div class="imagenes">
                <h1>300 x 180</h1>
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt labore ex aut molestiae, voluptates atque fuga sunt sequi, nihil eaque deserunt esse mollitia incidunt eos odit? Nobis maxime dicta amet.</p>
            </div>
        </div>
</body>
</html>