<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/layout1.css">
    <title>Layout1</title>
</head>
<body>
    <div class="fondo">
        <div id="Logo"><h1>Logo</h1></div>
        <div class="header">
           <input type="button" value="Home">
           <input type="button" value="Portfolio">
           <input type="button" value="Blog">
           <input type="button" value="Contact">
           <input type="search" placeholder="search">
        </div>
        <div class="imagen">
            <img src="http://freecssshowcase.com/blogs/files/2012/07/Full-Screen-HTML-Templates.jpg" alt="imagen">
        </div>
    
        <div id="imagen1">
            <img src="https://c.wallhere.com/photos/60/fc/nature_landscape_Wallbase_hut_sky_planet_space_art_digital_art-221391.jpg!d" alt="imagen2">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius vero non qui voluptates iusto similique veritatis voluptas! Exercitationem, asperiores a rem fugit sunt reprehenderit deleniti ipsa ab amet nesciunt minus!</p>
        </div>
        <div id="imagen2">
            <img src="https://c.wallhere.com/photos/60/fc/nature_landscape_Wallbase_hut_sky_planet_space_art_digital_art-221391.jpg!d" alt="imagen2">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius vero non qui voluptates iusto similique veritatis voluptas! Exercitationem, asperiores a rem fugit sunt reprehenderit deleniti ipsa ab amet nesciunt minus!</p>
        </div>
        <div id="imagen3">
            <img src="https://c.wallhere.com/photos/60/fc/nature_landscape_Wallbase_hut_sky_planet_space_art_digital_art-221391.jpg!d" alt="imagen2">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius vero non qui voluptates iusto similique veritatis voluptas! Exercitationem, asperiores a rem fugit sunt reprehenderit deleniti ipsa ab amet nesciunt minus!</p>
        </div>
        <div id="imagen4">
            <img src="https://c.wallhere.com/photos/60/fc/nature_landscape_Wallbase_hut_sky_planet_space_art_digital_art-221391.jpg!d" alt="imagen2">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius vero non qui voluptates iusto similique veritatis voluptas! Exercitationem, asperiores a rem fugit sunt reprehenderit deleniti ipsa ab amet nesciunt minus!</p>
        </div>
    </div>
</body>
</html>