.Ex3{
    border:none;
    border-collapse: collapse;
    border-spacing:0;
}

.Ex3 td{
  vertical-align: text-top;
  width:60px;
  font-weight: bold;
  border:solid black 1px;  
}

.Ex3 tr{
  height:30px;
}