form{
    border: blue 4px solid;
    background-color: white;
    box-shadow: 4px 4px 8px;
    margin:auto;
    width: 1000px;
}
fieldset{
    border: black 1.5px solid;
    box-shadow: 1px 1px 1px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 920px;
    
}
legend{
    color:  blue;
    font-weight: 800;
}
input{
    margin-bottom: 10px;
    margin-left: 20px;
}
text{
    font-weight: 600;
}
label.l{
    display: inline-block;
    width: 80px;
}

