.fondo{
    background-color: skyblue;
    display: flex;
    align-content: center;
    flex-direction: column;
}
#central{
    display: flex;
    justify-content: center;
}
.medio{
    display: flex;
    align-content: center;
    margin: 7%;
    margin-bottom: 0px;
    color: white;
}
.medio input{
    color: white;
    border: none;
    border-radius: 3px;
    padding: 15px;
    background-color:  rgb(51, 153, 243);
}
.abajo{
    background-color: white;
    display: flex;
    justify-content: center;
}
.imagenes{
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.dentro{
    justify-content: center;
    margin: auto;
}